<h1>Here are all the available schedules:</h1>
<%@parents.each do |parent_info|%>

<h3>Parent Name:</h3>
<%=parent_info.name%>
<h3> Schedule Needed:</h3>
<%=parent_info.schedule%>
<h3>Child Name:</h3>
<%=parent_info.child_name%>

<%if flash.has?(:success) %>
 <li> <%= flash[:success] %> </li>
<% end %>

<%end%>


