<h1> Sign Up Parents!</h1>
<fieldset>
<form  action="/users/login_parents" method="post" >
  <ul>
    <li><label for="email">Email</label>
    <input type="email" name="email" placeholder="yourname@email.com" required></li>
    <li><label for="username">Username</label>
    <input type="username" name="username" placeholder="username" required></li>
    <li><label for="password">Password</label>
    <input type="password" name="password" placeholder="password" required></li>
    <li>
    <input type="submit" value="Login"></li>
  </ul>
</form>
</fieldset>