<h1>Delete Submission</h1>

<form action="/parents/<%= @parent.id%>" method="post">

     <input id="hidden" type="hidden" name="_method" value="DELETE">
     <label>Child Name:</label><input  name="child_name" value="<%= @parent.child_name%>">
     <label>Schedule:</label><input  name="schedule" value="<%= @parent.schedule%>">
     <label>Delete:</label><input  type="submit" value="Delete Request">


</form>
