<h1>Edit Submission</h1>

<form action="/parents/<%= @parent.id%>" method="post">

     <input id="hidden" type="hidden" name="_method" value="PATCH">
     <label>Child Name:</label><input  name="child_name" value="<%= @parent.child_name%>">
     <label>Schedule:</label><input  name="schedule" value="<%= @parent.schedule%>">
     <label>Edit:</label><input  type="submit" value="Edit Request">
     <label>Request:</label>

</form>

<fieldset>
<footer>
  <p>&copy; 2016 Teri's House DayCare<p>
</footer>
</fieldset>