<h1>Welcome to Teri's House Daycare!</h1>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/location">Location</a></li>
</ul>


<p>Would you like to sign up?</p>
<li><a href='/parents/new' method="post">Sign up!</a></li>
