<h1>Teri's House Daycare!</h1>
 <%if flash.has?(:success) %>
 <%= flash[:success] %>
<% end %>
<link rel="stylesheet" href="css/style.css">
<body>
<p>Lorem ipsum dolor sit amet, ne illum laudem labores usu. Vis et agam consulatu. Animal recusabo vim et, eam cu facer ridens. Cu eam primis labores apeirian, per illum dolorem instructior in. Debet albucius verterem no usu, ut vim nulla animal, no eam vidit dicam albucius.</p>

<p>Amet autem vix no, in zril cetero his, dicunt sanctus maluisset sit ad. Persius labores his id, duo perpetua definiebas ex. Nec salutandi comprehensam no, option nostrum eos id. Id vel prodesset constituam, quidam melius discere ut mea. Ridens latine feugiat cum ea, id veritus feugait duo, quis oratio option est ei. Eam at rebum clita.</p>

<p>Vis ei scripta luptatum sapientem. Falli laudem discere cum ut, errem semper no vel. Pro te ipsum quodsi comprehensam, viris prompta referrentur at qui, iriure blandit vis an. Vel oporteat intellegebat signiferumque an, ipsum expetendis intellegam in sit. Euismod dolores vim at, nec ne partem ornatus, mei et movet iisque eloquentiam. Per utinam hendrerit vituperata an. Vis cu viris deterruisset signiferumque, quem prompta vim te.</p>

<p>At nam vocent nonumes probatus, cu zril soluta fabulas usu, sed te nostrum postulant. Ad ius adhuc ubique maiorum, id has sale modus facer. Nam duis sale at, nec ei modo graeci, affert veritus vix ad. Mea ut mazim movet perfecto, eam ei essent dolores.</p>

<p>Lorem ipsum dolor sit amet, ne illum laudem labores usu. Vis et agam consulatu. Animal recusabo vim et, eam cu facer ridens. Cu eam primis labores apeirian, per illum dolorem instructior in. Debet albucius verterem no usu, ut vim nulla animal, no eam vidit dicam albucius.</p>

<p>Amet autem vix no, in zril cetero his, dicunt sanctus maluisset sit ad. Persius labores his id, duo perpetua definiebas ex. Nec salutandi comprehensam no, option nostrum eos id. Id vel prodesset constituam, quidam melius discere ut mea. Ridens latine feugiat cum ea, id veritus feugait duo, quis oratio option est ei. Eam at rebum clita.</p>

<p>Vis ei scripta luptatum sapientem. Falli laudem discere cum ut, errem semper no vel. Pro te ipsum quodsi comprehensam, viris prompta referrentur at qui, iriure blandit vis an. Vel oporteat intellegebat signiferumque an, ipsum expetendis intellegam in sit. Euismod dolores vim at, nec ne partem ornatus, mei et movet iisque eloquentiam. Per utinam hendrerit vituperata an. Vis cu viris deterruisset signiferumque, quem prompta vim te.</p>

<p>At nam vocent nonumes probatus, cu zril soluta fabulas usu, sed te nostrum postulant. Ad ius adhuc ubique maiorum, id has sale modus facer. Nam duis sale at, nec ei modo graeci, affert veritus vix ad. Mea ut mazim movet perfecto, eam ei essent dolores.</p>

<a href='/parents/new'>Add Child!</a>
<a href="/parents/location">Location</a>
<a href="/parents/contact">Contact</a>
<a href="/parents/about">About</a>
</body>
<fieldset>
<footer>
  <p>&copy; 2016 Teri's House DayCare<p>
</footer>
</fieldset>