<h1>Sign up!</h1>
<form action="/parents/:id" method="post">
  <fieldset>
  <legend>Parent Information</legend>
     <p><label>Name:</label><input name="name" type="text"></p>
     <p><label>Username:</label><input name="username"  type="text"></p>
     <p><label>Password:</label><input type="password" name="pwd"></p>
     <p><label>Child's Name:</label><input name="name_of_child" type="text"></p>
     <p><label>Submit:</label><input name="submit" type="button"></p>

  </fieldset>
</form>