<h1>Add a Child</h1>
<form action="/parents"  method="post">
<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>
  <fieldset>
  <legend>Parent Information</legend>
     <p><label>Parent Name:</label><input type="text" name="name" ></p>
     <p><label>Child's Name:</label><input type="text" name="child_name" ></p>
     <p><label>Schedule:</label><input type="text" name="schedule"></p>
     <p><label>Submit:</label><input  type="submit" value="Create Request"></p>
  </fieldset>
</form>
<fieldset>
<footer>
  <p>&copy; 2016 Teri's House DayCare<p>
</footer>
</fieldset>
