<h1>Welcome!</h1>

<ul>
<h3>Parent Name:</h3>
 <li><%=@parent.name%></li>

  <h3>Child Name:</h3>
 <li><%=@parent.child_name%></li>

  <h3>Desired Schedule:</h3>
  <li><%=@parent.schedule%></li>

  <h3>Status:</h3>
 <%if flash.has?(:success) %>
 <li> <%= flash[:success] %> </li>
<% end %>
 <h3>Edit Submission:</h3>
<a href="/parents/edit">Edit</a>
</ul>


<fieldset>
<footer>
  <p>&copy; 2016 Teri's House DayCare<p>
</footer>
</fieldset>